@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco: #FFFFFF;
    --cinza: #C0C0C0;
    --azul: #167BF7;
    --fundo: #00030C;
}

::-webkit-scrollbar {
    width: .5vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinza);
}

body {
    background-color: var(--fundo);
    color: var(--branco);
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-weight: 700;
}
p {
    color: var(--cinza);
    font-weight: 400;
}
.secao-principal {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: 45vw 55vw;
}

.secao-principal__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 16px;
    margin: 5vw
}

.secao-principal__caixa__titulo {
    text-align: center;
    font-size: 1.5rem;
}

.secao-principal__caixa__banner {
    padding: 16px;
}

.botao {
    width: 100%;
    padding: 16px 0;
    border: 1px solid var(--branco);
    border-radius: 8px;
    transition: 150ms;
    text-align: center;
}

.botao:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
    transition: 250ms;
}

.botao:focus {
    cursor: default;
    opacity: .5;
    transform: scale(1.1);
    transition: 150ms;
}

.botao--principal {
    border: none;
    background-color: var(--azul);
}

.secao-principal__caixa__info {
    font-size: 0.7rem;
}

.secao {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.secao-2e4__banner {
    padding: 0 7vw;
}

.secao-2e4__caixa {
    padding-right: 7vw;
}

.secao-2e4__caixa__titulo {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.secao-3 {
    padding: 0 7vw;
}

.secao-3__caixa {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.secao-3__caixa__botao {
    width: fit-content;
    padding: 16px;
}

.secao-3__banner {
    margin-left: 3vw;
}

.secao-5 {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.secao-5__titulo {
    font-size: 2.5rem;
}

.secao-5__caixa {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    justify-items: center;
    align-content: center;
}

.secao-5__caixa__descricao {
    height: fit-content;
    width: fit-content;
    font-size: 1.5rem;
}

.footer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.footer__links {
    display: flex;
    gap: .7rem;
}
.footer__link {
    color: var(--branco);
    transition: 250ms;
}

.footer__link:hover {
    color: var(--azul);
    text-decoration: underline;
    transition: 250ms;
}

.footer__copyright {
    text-align: center;
    font-size: .75rem;
}

.footer__copyright__descricao {
    padding-top: 2rem;
    margin: 0 7rem;
}